#feature-links {
    background-color: #F2F2F2;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    line-height: 40px;
    border-radius: 5px;
    width: 253px;
}

.featurelink {
    color: #8FC6C6;
    display: block;
}

.featurelink:link, featurelink:visited {
    color: #8FC6C6;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.featurelink:hover {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 600px) {

    #feature-links {
        background-color: #F2F2F2;
        display: inline-block;
        margin: 10px 20px 0px 20px;
        padding: 10px 15px 10px 15px;
        line-height: 40px;
        border-radius: 5px;
        width: 235px;
    }

}