/* KUITTI PAGE START */
/* POP-UP START*/
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  filter: none;
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.popup-close {
  margin-top: 14px;
  color: #aaaaaa;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

.popup-close:hover,
.popup-close:focus {
    color: #8FC6C6;
    text-decoration: none;
    cursor: pointer;
}
/* POPUP END */

/* LOADER START */
.loader {
  padding: 0px 0px 0px 0px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  filter: none;
}

.loader-content {
  padding: 0;
  position: relative;
  top: 30%;
  margin: auto;
  border-top: 16px solid #8FC6C6;
  border-left: 16px solid rgb(173, 211, 211);
  border-bottom: 16px solid rgb(210, 228, 228);
  border-right: 16px solid #FFFFFF;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1.4s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* LOADER END */

#receipt-picture {
  display:inline-block;
  vertical-align:top;
  padding-bottom: 20px;
}

#receipt-result {
  display:none;
  vertical-align:top;
}

.receipt-load {
  display: block;
}

input.button-upload {
  font-size: 16px;
  width: 300px;
  cursor: pointer;
}

input.button-submit{
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #8FC6C6;
  width: 220px;
  border: 1px solid #8FC6C6;
  border-radius: 5px;
  cursor: pointer;
}

#addbutton, #updatebutton, #finishbutton {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #8FC6C6;
  padding: 2px 10px 2px 10px;
  border: 1px solid #8FC6C6;
  border-radius: 5px;
  cursor: pointer;
}

input.button-submit:hover, input.button-submit:focus, 
#addbutton:hover, #addbutton:focus, 
#updatebutton:hover, #updatebutton:focus,
#finishbutton:hover, #finishbutton:focus  {
  background-color: #649191;
}


input.kProductNameCol {
  text-align: left;
  font-size: 14px;
  width: 220px;
}

input.kStoreCol {
  text-align: left;
  font-size: 14px;
  width: 150px;
}

input.kDateCol {
  text-align: left;
  font-size: 14px;
  width: 100px;
}

input.kProductClassCol{
  text-align: left;
  font-size: 14px;
  width: 120px;
}

input.kUnitWeightCol, input.kUnitPriceCol, 
input.kTotalWeightCol, input.kTotalPriceCol,
input.kPricePerWeightCol {
  text-align: right;
  font-size: 14px;
  width: 65px;
}

input.kUnitsCol {
  text-align: right;
  font-size: 14px;
  width: 30px;
}

input.deleteCol {
  text-align: left;
  font-size: 14px;
  width: 20px;
}

thead.receipt-list-head {
  text-align: left;
  font-size: 14px;
}

#updatebutton {
  margin-left: 10px;
}

#finishbutton {
  margin-left: 10px;
}

@media (max-width: 600px) {
/* KUITTI ROUTE */

.receipt-load {
  display: block;
  padding: 10px 10px 10px 10px;
  align-content: center;
  text-align: center;
}

input.button-upload {
  padding: 10px 10px 10px 10px;
  width: 300px;
  font-size: 14px;
  text-align: center;
}

#receipt-picture {
  padding: 10px 10px 20px 10px;
  display: block;
  text-align: center;
}

#receipt-result {
  display:none;
  padding: 10px 10px 20px 10px;
}

#receipt-frame {
  overflow-x: auto;
  overflow-y: hidden;
  width: 280px;
  align-content: center;
}

#receipt-buttons {
  margin-left: auto;
  margin-right: auto;
}

}