
.div-groups, .div-divisions, .div-months {
    padding: 0 20px;
    margin: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.div-year, .div-month, .div-division {
    margin: 0;
    padding: 0;
}

.level-year, .level-month, .level-division, .level-group {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: left;

    cursor: pointer;
    background-color: white;
    margin: 0;

    border: none;
    outline: none;
    transition: 0.4s;
}

.level-year {
    height: 50px;
}

.level-month, .level-division {
    height: 40px;
}

.label-year, .label-month, .label-division {
    display: inline-block;
    font-weight: bold;
}

.label-year {
    font-size: 20px;
}

.label-month {
    font-size: 16px;
}

.sum-year, .sum-month, .sum-divison {
    display: inline-block;
    margin-left: 5px;
}

