div.login-frame {
    font-family: 'Montserrat', sans-serif;
    margin: 50px 20px 50px 20px;
    min-height: 500px;
    font-size: 24px;
    text-align: center;
  }

input.input-username, input.input-password {
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #8FC6C6;
  border-radius: 5px;
}

input.login-submit {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  width: 70px;
  height: 50px;
  background-color: #8FC6C6;
  border-radius: 12px;
}

input.login-submit:hover, input.login-submit:focus {
  background-color: #649191;
}
  
  
  /* ==== MOBILE ==== */
@media (max-width: 600px) {
  /* CSS that should be displayed if width is equal to or less than 800px */

  .login-frame {
    font-family: 'Montserrat', sans-serif;
    margin: 50px 20px 50px 20px;
    min-height: 400px;
    font-size: 24px;
    text-align: center;
  }

}
  
  
  