#purchase-title {
    padding-bottom: 0px;
}

.purchase-header {
    font-size: 18px;
}

.purchase-input {
    height: 29px;
    font-size: 18px;
    text-align: left;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0px 2px 0px 2px;
    padding: 0px;
}

#class-select {
    height: 31px;
}

.purchase-submit {
    margin: 10px 5px 0px 5px;
    padding: 10px 5px 10px 5px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #8FC6C6;
    border: 1px solid #000;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {

    .purchase-input {
        height: 29px;
        min-width: 100px;
        font-size: 18px;
        text-align: left;
        border: 1px solid #000;
        border-radius: 5px;
        margin: 0px 2px 0px 2px;
        padding: 0px;
    }

    #purchase-form {
        overflow-x: auto;
        overflow-y: hidden;
        width: 280px;
        align-content: center;
    }
}