/* RUOKA START */
/* TIMELINE STICKY START */
#view-date {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  padding: 10px 0px 7px 0px;
  background-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-color: #8FC6C6;
  border-bottom-width: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

#overview-cost {
  font-size: 25px;
  font-weight: none;
}

.ui-datepicker {
  z-index: 999999999 !important;
}
/* TIMELINE STICKY END */

/* GROUP VIEW START */
svg.pie-svg {
  margin: 0 auto;
}

path.slice {
	stroke-width:2px;
}

g.label {
  display: none;
}

#top-frame {
  display:inline-block;
  vertical-align:top;
}

#pie-frame {
  display:inline-block;
  vertical-align:top;
}

.groupCol {
  width: 200px;
}

.portionCol {
  width: 75px;
  text-align: center;
}

.priceCol {
  text-align: right;
}
/* GROUP VIEW END */

/* PRODUCT VIEW START */
#pro-frame {
  display: inline-block;
  vertical-align: top;
}

.productCol {
  width: 140px;
}

.productPriceCol, .productWeightCol {
  width: 75px;
  text-align: right;
}
.productPricePerWeightCol {
  text-align: right;
}

#histogram-frame {
  display:inline-block;
  vertical-align:top;
}
/* PRODUCT VIEW END */
/* INDEX END */


/* ==== MOBILE ==== */
@media (max-width: 600px) {
  /* CSS that should be displayed if width is equal to or less than 800px */

  #view-date {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    border-bottom-style: solid;
    border-bottom-color: #8FC6C6;
    border-bottom-width: 2px;
  }

  #top-title {
    text-align: center;
  }

  #overview-title {
    padding-bottom: 15px;
    text-align: center;
  }
  
  #overview-cost {
    font-size: 27px;
    font-weight: none;
  }

  #top-frame {
    display: block;
  }
  
  #pie-frame {
    display: block;
    text-align: center;
    align-content: center;
  }

  #pro-title {
    text-align: center;
  }

  

}


