html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #8FC6C6;
  }

body {
  margin: 20px auto; 
  background-color: #FFFFFF;
  padding: 0px 0px 20px 0px;
  width: 90%;
  border-radius: 5px;
}

div {
  padding: 10px 20px 10px 20px;
  text-align: left;
}

input {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 155px;
    font-size: 30px;
    border: none
  }

#navigation {
  background-color: #8FC6C6;
  display: inline-block;
  margin: 20px 20px 0px;
  padding: 10px 15px 10px 15px;
  word-spacing: 10px;
  border-radius: 5px;
}

.navlink:link, .navlink:visited {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navlink:hover {
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
  

/* ==== MOBILE ==== */
@media (max-width: 600px) {
    /* CSS that should be displayed if width is equal to or less than 800px */
    body {
      padding: 0px 10px 20px 10px;
    }

    div {
      padding: 5px 0px 5px 0px;
      text-align: left;
    }

    input {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      width: 45%;
      font-size: 27px;
      border: none
    }

    #navigation {
      background-color: #8FC6C6;
      display: inline-block;
      margin: 10 auto;
      padding: 5px 15px 5px 15px;
      word-spacing: 5px;
      border-radius: 5px;
    }

}