<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Food Stats</title>
    <link href="{{url_for('static', filename='styles/site.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='styles/kuitti.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div id="navigation">
        <a class=navlink href=\ruoka>Ruoka</a>
        <a class=navlink href=\kulutus>Kulut</a>
        <a class=navlink href=\features>Lisää</a>
        <a class=navlink href=\logout>Ulos</a>
    </div>
    <div id=receipt-base>
        <div class="receipt-load">
            <form id="receipt-upload" method="post" enctype="multipart/form-data">
                <input type="file" name="image" onchange="previewFile()" class="button-upload">
                <input type="submit" value="Upload your image" class="button-submit">
            </form>
        </div>
        <div id="receipt-picture">
            <img src="" alt="Image preview...">
        </div>
    </div>
    <div id="receipt-result"></div>
    <div id="loader" class="loader">
        <div class="loader-content"></div>
    </div>
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="popup-close">&times;</span>
            <p id="popup-print"></p>
        </div>
    </div>
    <script type='text/javascript' src="http://d3js.org/d3.v3.min.js"></script>
    <script type='text/javascript' src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/kuitti.js')}}"></script>
</body>

</html>