<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Food Stats - login</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='styles/site.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='styles/login.css')}}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <div class="login-frame">
    <form id="login-form" method="post" enctype="multipart/form-data">
        <p>Kirjaudu sisään</p>
        <input type="text" name="username" value='User' onblur="onBlur(this)" onfocus="onFocus(this)" onclick="onClick(this)" class="input-username">
        <input type="password" name="password" value='Password' onblur="onBlur(this)" onfocus="onFocus(this)" class="input-password">
        <br>
        <input type="submit" value="GO!!" class="login-submit">
    </form>
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='scripts/login.js')}}"></script>
</body>

</html>