<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Food Stats</title>
    <link href="{{url_for('static', filename='styles/site.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='styles/ostos.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div id="navigation">
        <a class="navlink" href=\ruoka>Ruoka</a>
        <a class="navlink" href=\kulutus>Kulut</a>
        <a class="navlink" href=\features>Lisää</a>
        <a class="navlink" href=\logout>Ulos</a>
    </div>
    <div id="purchase-base">
        <div id="purchase-title">
            <h2>Lisää ostos</h2>
        </div>
        <div id="purchase-form">
            <form id="purchase-upload" method="post" enctype="multipart/form-data">
                <table>
                    <thead class="purchase-header">
                        <tr>
                            <th>Päivä</th>
                            <th>Luokka</th>
                            <th>Tuote</th>
                            <th>Hinta</th>
                            <th>Kauppa</th>
                            <th>Ostaja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="date" name="purchase-date" class="purchase-input" autocomplete="off"></td>
                            <td>
                                <select name="purchase-class" class="purchase-input" id="class-select">
                                    <option value="koti">koti</option>
                                    <option value="ulkona">ulkona</option>
                                    <option value="vaatteet">vaatteet</option>
                                    <option value="reeni">reeni</option>
                                    <option value="opiskelija">opiskelija</option>
                                    <option value="matkustus">matkustus</option>
                                    <option value="monja">monja</option>
                                    <option value="muu">muu</option>
                                    <option value="kiva">kiva</option>
                                    <option value="siivous">siivous</option>
                                    <option value="asusteet">asusteet</option>
                                    <option value="apteekki">apteekki</option>
                                    <option value="asuminen">asuminen</option>
                                    <option value="testi">testi</option>
                                </select>
                            </td>
                            <td><input type="text" name="purchase-name" class="purchase-input" autocomplete="off"></td>
                            <td><input type="text" name="purchase-price" class="purchase-input" autocomplete="off"></td>
                            <td><input type="text" name="store" class="purchase-input" autocomplete="off"></td>
                            <td><input type="text" name="buyer" class="purchase-input" autocomplete="off"></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Tallenna" class="purchase-submit">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/ostos.js')}}"></script>
</body>

</html>