<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Food Stats</title>
  <link href="{{url_for('static', filename='styles/site.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='styles/ruoka.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <div id="navigation">
    <a class=navlink href=\ruoka>Ruoka</a>
    <a class=navlink href=\kulutus>Kulut</a>
    <a class=navlink href=\features>Lisää</a>
    <a class=navlink href=\logout>Ulos</a>
  </div>
  <div class="overview">
    <div id="view-date">
      <div id="view-timeline">
        <input type="text" name="start-date" id="start-date" /> -
        <input type="text" name="end-date" id="end-date" />
      </div>
    </div>
    <div id="view-groups">
    </div>
    <div id="view-products">
    </div>
  </div>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='scripts/ruoka.js')}}"></script>
</body>

</html>